body {
    background-color: rgb(104, 104, 104);
    /* background-image: url("/images/praying\ cat.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

h1 {
    font-size: 90px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#clock {
    font-size: 30px;
    text-align: center;
    color: pink;
    margin: 30px
}

div {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: orange;
}